<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
	<add name="myConn" connectionString="Data Source=NAUTCUD;Initial Catalog=Final;Integrated Security=True" providerName="System.Data.SqlClient"/>

	<add name="MyConnOleDB" connectionString="Provider=sqloledb;Data Source=NAUTCUD;Initial Catalog=Company;Integrated Security=SSPI" providerName="SQLOLEDB"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>