@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>You can watch products that you can order in here</h2>
    <h2>
        @Html.ActionLink("Products", "Index", "Products")
    </h2>
    <h2>Create your CLientID in there</h2>
    <h2>
        @Html.ActionLink("Clients", "Create", "Clients")
    </h2>
    <h2>After creating Client, Create your Order in there</h2>
    <h2>
        @Html.ActionLink("Orders", "Create", "Orders")
    </h2>

</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
</div>